# Rules in this file were initially inferred by Visual Studio IntelliCode from the E:\Equa1ityRepos\Launcher\1.1\PD2Launcher codebase based on best match to current usage at 11/12/2021
# You can modify the rules from these initially generated values to suit your own policies
# You can learn more about editorconfig here: https://docs.microsoft.com/en-us/visualstudio/ide/editorconfig-code-style-settings-reference
[*.cs]

